@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --clr-primary-150: hsl(10, 79%, 65%);
  --clr-primary-100: hsl(10, 79%, 90%);
  --clr-primary-200: hsl(186, 34%, 60%);

  --clr-neutral-400: hsl(25, 47%, 15%);
  --clr-neutral-300: hsl(28, 10%, 53%);
  --clr-neutral-100: hsl(27, 66%, 92%);
  --clr-neutral-200: hsl(33, 100%, 98%);

  --ff-sans: "DM Sans", sans-serif;

  --fw-400: 400;
  --fw-700: 700;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 1rem;
  font-family: var(--ff-sans);
  font-weight: var(--fw-400);
  background-color: var(--clr-neutral-100);
}
.text-light {
  color: var(--clr-neutral-300);
}
.text-dark {
  color: var(--clr-neutral-400);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.card__balance,
.card__details {
  --padding: 1em;
  --border-radius: 6px;
}
.card__balance {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-primary-150);
  padding: var(--padding);
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
  color: var(--clr-neutral-100);
}
.card__balance p:nth-child(2) {
  font-size: 1.25rem;
  font-weight: var(--fw-700);
}
.card__details {
  background-color: var(--clr-neutral-200);
  border-radius: var(--border-radius);
  padding-inline: var(--padding);
  padding-block: calc(var(--padding) + 0.5em);
}
#logo-svg {
  width: 40px;
  aspect-ratio: 1;
}
h1 {
  font-size: 1.25rem;
  font-weight: var(--fw-700);
}
.bar {
  position: relative;
  cursor: pointer;
}
.bar:nth-child(2),
.bar:nth-child(1),
.bar:nth-child(4),
.bar:nth-child(5),
.bar:nth-child(6),
.bar:nth-child(7) {
  fill: var(--clr-primary-150);
}
.bar:nth-child(3) {
  fill: var(--clr-primary-200);
}
.bar:nth-child(2):hover,
.bar:nth-child(1):hover,
.bar:nth-child(4):hover,
.bar:nth-child(5):hover,
.bar:nth-child(6):hover,
.bar:nth-child(7):hover {
  opacity: 0.8;
}
.bar:nth-child(3):hover {
  opacity: 0.8;
}
.x-axis text {
  fill: var(--clr-neutral-300);
  font-size: 0.9rem;
}
.tooltip {
  position: absolute;
  text-align: center;
  padding: 0.5em;
  font: 0.75rem var(--ff-sans);
  background: var(--clr-neutral-400);
  color: var(--clr-neutral-100);
  border: 0px;
  border-radius: 3px;
  pointer-events: none;
  opacity: 0;
}
.card__details-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.total p:nth-child(2) {
  font-size: 1.25rem;
  font-weight: var(--fw-700);
}
.percentage {
  text-align: right;
}
.percentage p:nth-child(1) {
  font-weight: var(--fw-700);
}
.attribution {
  margin-top: 1rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
